*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Kaisei Decol', sans-serif; */
}
body{
    background-color: #433426;
}
a{
    text-decoration: none;
}
.flower1, .flower2{
    position: absolute;
}
.flower1{
    width: 4vw;
    height: 5vw;
}
.flower2{
    width: 6.5vw;
    height: 6.5vw;
}
.mobile-nav-toggle{
    display: none;
}
.page-title{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
    margin-bottom: 60px;
}
.flex-container{
    display: flex;
    align-items: center;
}

#hero{
    min-height: 80vh;
    background-image: url('assets/images/hero.jpeg');
    background-size: cover;
    background-position: 60% 40%;
}

/* navbar */
.navbar{
    max-width: 100%;
    min-height: 60px;
    margin: 0 auto;
    padding-top: 40px;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
}
.nav-link{
    font-size: 1.3rem;
}
.logo img{
   width: 141px;
}
li{
    list-style: none;
}
.navbar .nav-menu{
    display: flex;
    color: #F5EBD9;
    gap: 2rem;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #F5EBD9;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F5EBD9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#dining-header .hover-underline-animation {
    color: #433426;
}
#dining-header .hover-underline-animation:after {
    background-color: #433426;
}
header{
    position: relative;
    padding: 0 2rem;
}

/* introduction */
#intro{
    width: 100%;
    
}
#introduction{
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    padding: 80px;
}
#introduction .col-left{
    width: 50%;
}
#introduction .col-left .brand-logo{
    max-width: 60%;
    height: auto;
}
#introduction .col-right{
    color: #F5EBD9;
    text-align: center;
    font-family: 'Kaisei Decol', sans-serif;
    width: 50%;
    padding: 100px;
}
#introduction .col-right p{
    font-size: 2.5vw;
    line-height: 1.5;
}
#introduction .col-right a{
    margin-top: 60px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7vw;
}
#introduction .flower1{
    top: 0;
    right: 2em;
    transform: rotate(180deg);
}
#introduction .flower2{
    bottom: 0;
    left: 2em;
}

/* description */
#description{
    display: flex;
    flex-direction: row;
    background-color: #F5EBD9;
}
#description .col-left{
    font-family: 'Kaisei Decol', sans-serif;
    color: #433426;
    width: 50%;
    text-align: center;
    padding: 120px 80px;
}
#description .col-left h1{
    font-size: 1.8vw;
    padding: 15px 0;
    line-height: 1.8;
}
#description .col-left p{
    font-size: 1.5vw;
    padding: 10px 0;
}
#description .col-right{
    width: 50%; 
    background-image: url(assets/images/plates.jpeg);
    background-position: center;
}

/* footer */
#footer{
    padding: 50px 100px 30px 100px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 130px 1fr 1fr;
    color: #F5EBD9;
    font-family: 'Quicksand', sans-serif;
    background-color: #4F4135;
}
#footer .item-2 h2, p{
    line-height: 1.7;
}
#footer .item-1{
    justify-content: start;
}
#footer .item-2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#footer .item-2 h2{
    font-size: 1.5vw;
    font-weight: 500;
}
#footer .item-2 p{
    font-size: 1.2vw;
}
#footer .item-3{
    justify-content: end;
}
#footer .item-3 h2{
    font-size: 1.3vw;
    padding-bottom: 10px;
    font-weight: 500;
}
#footer .item-3 form{
    display: flex;
}
#footer .item-3 form input{
    border-width: 0px;
    width: 375px;
    background-color: #4F4135;
    border-bottom: 1px solid #F5EBD9;
    border-radius: 5px 5px 0 0;
    font-size: 1.2vw;
}
#footer .item-3 form a{
    color: #F5EBD9;
    border-bottom: 1px solid #F5EBD9;
    font-size: 1.2vw;
}
#footer .item-4{
    grid-area: 2 / 1 / 3 / 3;
}
#footer .item-4 p{
    font-size: 1.2vw;
}
#footer .item-5{
    grid-area: 2 / 3 / 3 / 4;
    justify-self: end;
}
#footer .item-5 img{
    padding-left: 10px; 
}

/* le chef */
#lechef{
    text-align: center;
    color: #F5EBD9;
    width: 50%;
    margin: 100px auto;
    flex-direction: column;
}
#lechef .intro{
    font-family: 'Kaisei Decol', sans-serif;
    font-size: 3.5vw;
    line-height: 1.4;
}
#lechef .profile{
    margin: 70px 0;
}
#lechef p{
   font-family: 'Kaisei Decol', sans-serif;
   font-size: 1.8vw;
   line-height: 1.5;
   margin-bottom: 30px;
}
#lechef .credentials{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    font-size: 1.8vw;
}
#lechef .flower1{
    left: 0;
    transform: rotate(90deg);
    top: 90%;
}
#lechef .flower2{
    right: 0;
    transform: rotate(270deg);
    bottom: -100%;
}

/* faq */
.faq{
    text-align: center;
    color: #F5EBD9;
    max-width: 750px;
    margin: 100px auto;
    font-size: 2vw;
}
.faq .page-title{
    margin-bottom: 70px;
}
.faq .question{
    font-family: 'Kaisei Decol', sans-serif;
    margin-top: 70px;
}
.faq .answer{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 70px;
    font-size: 1.6vw;
}
.faq a{
    color: #F5EBD9;
    text-decoration: underline;
}
    
/* dining-page */
#dining-header{
    background: #F5EBD9;
}
#dining-header .links a{
    /* background: #F5EBD9; */
    color: #433426;
}
#dining-intro, #dining-outro{
    font-family: 'Kaisei Decol', sans-serif;
    color: #433426;
    text-align: center;
    padding: 30px 0;
}
#dining-intro .flex-container, #dining-outro .flex-container{
    flex-direction: column;
}
#dining-intro p, #dining-outro p{
    font-size: 2.2vw;
    margin-bottom: 20px;
    width: 60%;
}
#dining-outro, #dining-intro, #pricing .col-left{
    background-color: #F5EBD9;
}
#dining-intro a, #dining-outro a{
    font-size: 1.3vw;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    color: #433426;
    border: 2px solid #433426;
    border-radius: 10px;
    padding: 16px 26px;
}
#dining-intro a:hover, #dining-outro a:hover{
    background: #433426;
    color: #F5EBD9;
}
.dining{
    width: 100%;
    height: 80vh;
    background: url(assets/images/dining1.jpeg) no-repeat 100% 40%;
    background-size: cover;
}
#pricing{
    display: flex;
    flex-direction: row;
}
#pricing .col-left{
    color: #433426;
}
#pricing .col-right h3, #pricing .col-left h3{
    font-family: 'Kaisei Decol', sans-serif;
}
#pricing .col-right p, #pricing .col-left p{
    width: 70%;
}
#pricing .col-right, #pricing .col-left{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    width: 50%;
    padding: 80px 0;
}
#pricing .col-left .flex-container, #pricing .col-right .flex-container{
    flex-direction: column;
}
#pricing .col-right{
    color: #F5EBD9;
}
#pricing .price{
    font-weight: bold;
}
.dining2{
    height: 90vh;
    background: url(assets/images/dining2.webp) no-repeat 100% 40%;
    background-size: cover;
}
#dining-outro p{
    font-size: 2.2vw;
    margin-bottom: 20px;
    padding: 50px 0;
}

/* reserve */
#reservation{
    background-color: #F5EBD9;
    color: #433426;
    text-align: center;
    width: 50%;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
}
#reservation .form-field{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#reservation p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2vw;
}
#reservation h1{
    font-size: 1.5vw;
}
#reservation h1, p{
    padding-bottom: 15px;
}
#reservation select, input{
    width: 14em;
    font-size: .7em;
    background-color: #E4C489;
    padding: 5px;
    border: 1px solid #E4C489;
    border-radius: 5px;
    color: #433426;
}
#reservation .schedule{
    background-color: #fff;
    height: 500px;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 22px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #F5EBD9;
    border-radius: 10px;
}

/* media queries mobile */
@media only screen and (max-width: 400px){
    /* hamburger menu */
    .hamburger{
        display: block;
        z-index: 9999;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(7px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-7px) rotate(-45deg);
    }
    .navbar .nav-menu{
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        text-align: center;
        flex-direction: column;
        background: rgba(36, 24, 10, 0.9);
        transform: translateX(-100%);
        overflow: hidden;
        font-size: 1rem;
        transition: 0.7s;
    }
    .nav-menu.active{
        left: -100%;
    }
    #dining-header .bar{
        background-color: #433426;
    }
    #dining-header .nav-link a{
        color: #F5EBD9;
    }


    .logo img{
        width: 100px;
     }
    .page-title{
        font-size: .6rem;
        margin-bottom: 30px;
    }
    
    /* introduction */
    #introduction{
        padding: 50px;
    }
    #introduction .flex-container{
        flex-direction: column;
    }
    #introduction .col-left, #introduction .col-right{
        width: 100%;
    }
    #introduction .brand-logo{
        width: 100px;
    }
    #introduction .col-right {
        padding: 0;
    }
    #introduction .col-right p{
        font-size: 19px;
        padding-top: 30px;
    }
    #introduction .col-right a{
        font-size: 15px;
    }
    

    /* description */
    #description{
        display: block;
        font-size: 20px;
        padding: 0;
    }
    #description .icon{
        width: 40px;
    }
    #description .col-left{
        width: 100%;
        padding: 50px;
    }
    #description .col-left h1{
        font-size: .7rem;
        padding: 15px 0;
        line-height: 1.8;
        margin-top: 20px;
    }
    #description .col-left p{
        font-size: .6rem;
        padding: 10px 0;
    }
    #description .col-right{
        width: 100%; 
        height: 60vh;
    }
    

    /* footer */
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    #footer .item-1 img{
        width: 30px;
        padding: 30px 0;
    }
    #footer .item-2{
        text-align: center;
        align-items: center;
        font-size: 20px;
    }
    #footer .item-2 h2, #footer .item-3 h2{
        font-size: 18px;
    }
    #footer .item-2 p{
        font-size: 15px;
    }
    #footer .item-3 h2{
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
    }
    #footer .item-3 form input{
        width: 70%;
        font-size: 15px;
    }
    #footer .item-3 form a{
        font-size: 14px;
        padding-top: 4px;
    }
    #footer .item-4 p{
        font-size: 10px;
    }
    #footer .item-5 a img{
        width: 14px;
        padding: 20px 0;
    }
    

    /* lechef */
    #lechef{
        margin: 0 auto;
        width: 90%;
        padding: 20px;
    }
    #lechef .profile{
        margin: 40px 0;
        width: 300px;
    }
    #lechef .icon{
        width: 30px;
        margin-top: 10px;
    }
    #lechef p, #lechef .intro{
        font-size: .8rem;
        line-height: 1.6;
    }
    #lechef .credentials{
        font-size: .6rem;
        line-height: 2;
    }
    .flower1{
        width: 2em;
        height: 2em;
    }
    .flower2{
        width: 3em;
        height: 2.4em;
    }
    #lechef .flower1{
        left: 0;
        transform: rotate(90deg);
        top: 50%;
    }
    #lechef .flower2{
        right: 0;
        transform: rotate(270deg);
        bottom: -70%;
    }

    /* dining-page */
    #dining-header .links a{
        background: none;
        color: #F5EBD9;
    }
    #dining-intro, #dining-outro{
        padding: 60px 0;
    }
    #dining-intro img{
        width: 50px;
    }
    #dining-intro p, #dining-outro p{
        font-size: .8rem;
        width: 80%;
        line-height: 2;
        padding-bottom: 20px;
    }
    #dining-intro a, #dining-outro a{
        font-size: .5rem;
        padding: 12px 18px;
    }
    .dining, .dining2{
        height: 50vh;
    }
    #pricing{
        display: flex;
        flex-direction: column;
    }
    #pricing .col-left, #pricing .col-right{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #pricing .col-left, .col-right{
        font-size: .7rem;
    }
    #pricing .col-right h3, #pricing .col-left h3{
        font-family: 'Kaisei Decol', sans-serif;
    }

    
    .faq{
        margin: 30px auto;
        width: 80%;
    }
    .faq .page-title{
        font-size: .6rem;
        margin-bottom: 70px;
    }
    .faq h1{
        font-size: .8rem;
    }
    .faq .flower{
        width: 60px;
    }
    .faq .question{
        font-size: .7rem;
        margin: 30px 0 0 0;
    }
    .faq .answer{
        font-size: .6rem;
        margin-bottom: 30px;
    }
    .faq a{
        color: #F5EBD9;
        text-decoration: underline;
    }

    /* reserve */
    #reservation{
        width: 90%;
        margin: 80px auto;
    }
    #reservation p{
        font-size: 14px;
    }
    #reservation h1{
        font-size: 20px;
    }
    #reservation .schedule{
        background-color: #fff;
        height: 200px;
    }
    #reservation .form-field{
        display: inline;
    }
    #reservation .form-field select, input{
        width: 90%;
    }
    #reservation .form-field select{
        margin-bottom: 10px;
    }
    #reservation .form-field input{
        margin-bottom: 20px;
        padding: 7px;
    }
}

/* media queries tablet */
@media only screen and (max-width: 768px){
    .hamburger{
        display: block;
        z-index: 9999;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(7px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-7px) rotate(-45deg);
    }
    .navbar .nav-menu{
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        text-align: center;
        flex-direction: column;
        background: rgba(36, 24, 10, 0.9);
        transform: translateX(100%);
        overflow: hidden;
        font-size: 1rem;
        transition: 0.7s;
    }
    .nav-link{
        margin-bottom: 20px;
    }
    .nav-menu.active{
        left: -100%;
    }

    #introduction{
        padding: 50px;
    }
    #introduction .flex-container{
        flex-direction: column;
    }
    #introduction .col-left, #introduction .col-right{
        width: 100%;
    }
    #introduction .brand-logo{
        width: 100px;
    }
    #introduction .col-right {
        padding: 0;
    }
    #introduction .col-right p{
        font-size: 19px;
        padding-top: 30px;
    }
    #introduction .col-right a{
        font-size: 15px;
    }
    

    /* description */
    #description{
        display: block;
        font-size: 20px;
        padding: 0;
    }
    #description .icon{
        width: 40px;
    }
    #description .col-left{
        width: 100%;
        padding: 50px;
    }
    #description .col-left h1{
        font-size: .7rem;
        padding: 15px 0;
        line-height: 1.8;
        margin-top: 20px;
    }
    #description .col-left p{
        font-size: .6rem;
        padding: 10px 0;
    }
    #description .col-right{
        width: 100%; 
        height: 60vh;
    }
    
    #dining-header .bar{
        background-color: #433426;
    }
    #dining-header .nav-link a{
        color: #F5EBD9;
    }
    #pricing{
        display: flex;
        flex-direction: column;
    }
    #pricing .col-left, #pricing .col-right{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #pricing .col-left, .col-right{
        font-size: .7rem;
    }
    #pricing .col-right h3, #pricing .col-left h3{
        font-family: 'Kaisei Decol', sans-serif;
    }
    .faq .answer {
        width: 80%;
        font-size: .7rem;
        margin: 0 auto;
    }
    .faq .question {
        font-size: .7rem;
    }
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    #footer .item-1 img{
        width: 30px;
        padding: 30px 0;
    }
    #footer .item-2{
        text-align: center;
        align-items: center;
        font-size: 20px;
    }
    #footer .item-2 h2, #footer .item-3 h2{
        font-size: 18px;
    }
    #footer .item-2 p{
        font-size: 15px;
    }
    #footer .item-3 h2{
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
    }
    #footer .item-3 form input{
        width: 70%;
        font-size: 15px;
    }
    #footer .item-3 form a{
        font-size: 14px;
        padding-top: 4px;
    }
    #footer .item-4 p{
        font-size: 10px;
    }
    #footer .item-5 a img{
        width: 14px;
        padding: 20px 0;
    }
}